# For openslide, please install it separately from conda or system package manager
numpy
pandas
histomicstk
Pillow
opencv-python
tiatoolbox
scikit-image
girder-client
large-image
torch
torchvision
torchstain
matplotlib
requests
