# For openslide, please install it separately from conda or system package manager
numpy==1.21.2
pandas==1.3.3
histomicstk==1.1.0
Pillow==8.4.0
opencv-python==4.5.3.56
scikit-image==0.18.3
girder-client==3.1.4
large-image==2.3.0
torch==1.9.1
torchvision==0.10.2
torchstain==0.2.1
matplotlib==3.4.3
requests==2.26.0
